h2 {
  padding-top: 1em; }

.hero-unit {
  padding-bottom: 0; }
  .hero-unit .tagline {
    font-size: 50px; }

.jumbotron {
  margin: 80px 0;
  text-align: center; }

.jumbotron h1 {
  font-size: 50px;
  line-height: 1; }

#contact-form {
  display: inline-block; }
  #contact-form div.error {
    color: red;
    font-size: 10px; }

.logos img {
  padding-right: 10px; }

.container img {
  margin: 20px; }
.container img.border {
  border: 1px solid #cecece; }
.container th {
  border-bottom: 1px solid #cecece; }
.container td {
  padding-right: 30px; }

.open-data-actions {
  position: relative;
  height: 270px; }
  .open-data-actions .btn {
    position: absolute;
    top: 230px; }

.getting-started-actions {
  position: relative;
  height: 220px; }
  .getting-started-actions .btn {
    position: absolute;
    top: 170px; }
